<div class="home-container">
  <div class="left">
    <h1 class="fade-in">Earthquake</h1>
    <p class="fade-in">
      Thousands of people are suffering due to the devastation caused by the
      earthquake. Immediate help is needed to provide shelter, food, and medical
      assistance to those affected.
    </p>

    <h1 class="fade-in">Drought</h1>
    <p class="fade-in">
      Severe drought has left entire communities without access to clean water.
      Support is critical to ensure water distribution and aid to prevent
      further suffering.
    </p>

    <h1 class="fade-in">Tsunami</h1>
    <p class="fade-in">
      The massive tsunami displaced hundreds of families, leaving them in urgent
      need of housing, food, and psychological support.
    </p>

    <h1 class="fade-in">Flood</h1>
    <p class="fade-in">
      Unprecedented floods have destroyed homes and livelihoods. Your donations
      can help rebuild lives and provide immediate relief to those impacted.
    </p>

    <h1 class="fade-in">Hurricane</h1>
    <p class="fade-in">
      Communities devastated by hurricanes are struggling to recover. Join us in
      providing essential resources to rebuild homes and restore normalcy.
    </p>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCrisisModal">
      Add Crisis
    </button>
  </div>
  <div class="right">
    <div class="donation">
      <h1>{{totalDonated}} TK</h1>
      <p>has already been donated</p>
      <button
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#addDonationModal"
      >
        Donate Now
      </button>
    </div>
    <div class="donation">
      <h1>{{totalVolunteers}} </h1>
      <p>superheros are helping people <a href="/volunteer">Get to know volunteers</a></p>
      <button
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#addUserModal"
      >
        Join as volunteer
      </button>
      <button
      style="margin-left: 0.5rem;"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#loginModal"
      >
        Login
      </button>
    </div>
  </div>
</div>

<!-- Modal for adding a new donation -->
<div
  class="modal fade"
  id="addDonationModal"
  tabindex="-1"
  aria-labelledby="addDonationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDonationModalLabel">Add Donation</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- Amount input field -->
          <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input
              type="number"
              id="amount"
              class="form-control"
              [(ngModel)]="newDonation['amount']"
              name="amount"
              required
            />
          </div>

          <!-- Merchant selection dropdown -->
          <div class="mb-3">
            <label for="merchant" class="form-label">Merchant</label>
            <select
              id="merchant"
              class="form-select"
              [(ngModel)]="newDonation['merchantId']"
              name="merchantId"
              required
            >
              <option *ngFor="let merchant of merchants" [value]="merchant.id">
                {{ merchant?.name }}
              </option>
            </select>
          </div>

          <!-- Crisis selection dropdown (approved crises only) -->
          <div class="mb-3">
            <label for="crisis" class="form-label">Crisis</label>
            <select
              id="crisis"
              class="form-select"
              [(ngModel)]="newDonation['crisisId']"
              name="crisisId"
              required
            >
              <option *ngFor="let crisis of approvedCrises" [value]="crisis.id">
                {{ crisis?.location.name + ' ' + crisis?.crisisType.name}}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addDonation()"
          data-bs-dismiss="modal"
        >
          Add Donation
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="addUserModal"
  tabindex="-1"
  aria-labelledby="addUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Join Now</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- Amount input field -->
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              [(ngModel)]="newUser['username']"
              name="username"
              required
            />
          </div>

          <!-- Merchant selection dropdown -->
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              id="email"
              class="form-control"
              [(ngModel)]="newUser['email']"
              name="email"
              required
            >
          </div>

          <!-- Crisis selection dropdown (approved crises only) -->
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              id="password"
              class="form-control"
              [(ngModel)]="newUser['password']"
              name="password"
              type="password"
              required
            >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addUser()"
          data-bs-dismiss="modal"
        >
          Join
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- Username input field -->
          <div class="mb-3">
            <label for="loginUsername" class="form-label">Username</label>
            <input
              type="text"
              id="loginUsername"
              class="form-control"
              [(ngModel)]="loginData['username']"
              name="loginUsername"
              required
            />
          </div>

          <!-- Password input field -->
          <div class="mb-3">
            <label for="loginPassword" class="form-label">Password</label>
            <input
              type="password"
              id="loginPassword"
              class="form-control"
              [(ngModel)]="loginData['password']"
              name="loginPassword"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="loginUser()"
          data-bs-dismiss="modal"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for adding new crisis -->
<div class="modal fade" id="addCrisisModal" tabindex="-1" aria-labelledby="addCrisisModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCrisisModalLabel">Add Crisis</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <select id="location" class="form-select" [(ngModel)]="newCrisis['locationId']" name="locationId">
              <option *ngFor="let location of locations" [value]="location.id">{{ location?.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="crisisType" class="form-label">Crisis Type</label>
            <select id="crisisType" class="form-select" [(ngModel)]="newCrisis['crisisTypeId']" name="crisisTypeId">
              <option *ngFor="let crisisType of crisisTypes" [value]="crisisType.id">{{ crisisType?.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="severity" class="form-label">Severity</label>
            <select id="severity" class="form-select" [(ngModel)]="newCrisis['severity']" name="severity" required>
              <option [value]="1">Low</option>
              <option [value]="2">Medium</option>
              <option [value]="3">High</option>
            </select>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addCrisis()" data-bs-dismiss="modal">Add Crisis</button>
      </div>
    </div>
  </div>
</div>
